<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="sales-filter" action="/admin/sales-report" method="GET">
  <label for="filter">Filter by:</label>
  <select id="filter" name="filter">
    <option value="all">All Time</option>
    <option value="daily">Today</option>
    <option value="weekly">This Week</option>
    <option value="monthly">This Month</option>
    <option value="yearly">This Year</option>
  </select>
  <button type="submit">Generate Report</button>
</form>

</body>
</html>

<script>
  $(document).ready(function() {
  
  $('#sales-filter').submit(function(event) {
    event.preventDefault();

   
    const filter = $('#filter').val();


    $.ajax({
      url: '/admin/sales-report',
      method: 'GET',
      data: { filter: filter },
      success: function(response) {
       
        $('#sales-report').html(response);
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
});

</script>