<%- include('../layouts/header.ejs') %>

<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0 d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">TECCAS E-WORLD</h4>
                </div>
                <div>
                  <h5 class="mt-1 mb-4 pb-1 ms-5">Edit Coupon Details</h5>
                </div>

                <form action="" method="post" class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        name="couponName"
                        id="form3Example1c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example1c"
                        >Enter Copon Name</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        name="couponCode"
                        id="form3Example1c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example1c"
                        >Enter Code</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="date"
                        name="startDate"
                        id="form3Example3c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example3c"
                        >Start Date</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="date"
                        name="endDate"
                        id="form3Example3c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example3c"
                        >End Date</label
                      >
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        name="minAmount"
                        id="form3Example1c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example1c"
                        >Minimum Amount</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="number"
                        name="quantity"
                        id="form3Example3c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example3c"
                        >Total Quantity</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="number"
                        name="maxDiscount"
                        id="form3Example4c"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="form3Example4c"
                        >Max Discount</label
                      >
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input
                      type="submit"
                      value="Add coupon"
                      class="btn btn-success"
                    />
                  </div>

                  <br />
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <a href="/admin/coupon-dashboard" class="btn btn-primary"
                      >Go Back</a
                    >
                  </div>

                  <% if(typeof message !== 'undefined' ){ %>
                  <div class="alert alert-success" role="alert">
                    <%= message %>
                  </div>

                  <% } %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const form = document.querySelector("form");
  const couponNameInput = document.querySelector('input[name="couponName"]');
  const couponCodeInput = document.querySelector('input[name="couponCode"]');
  const startDateInput = document.querySelector('input[name="startDate"]');
  const endDateInput = document.querySelector('input[name="endDate"]');
  const quantityInput = document.querySelector('input[name="quantity"]');
  const maxDiscountInput = document.querySelector('input[name="maxDiscount"]');

  form.addEventListener("submit", (event) => {
    event.preventDefault();

    let isValid = true;

    if (couponNameInput.value.trim() === "") {
      couponNameInput.classList.add("is-invalid");
      isValid = false;
    } else {
      couponNameInput.classList.remove("is-invalid");
    }

    if (couponCodeInput.value.trim() === "") {
      couponCodeInput.classList.add("is-invalid");
      isValid = false;
    } else {
      couponCodeInput.classList.remove("is-invalid");
    }

    if (startDateInput.value.trim() === "") {
      startDateInput.classList.add("is-invalid");
      isValid = false;
    } else {
      startDateInput.classList.remove("is-invalid");
    }

    if (endDateInput.value.trim() === "") {
      endDateInput.classList.add("is-invalid");
      isValid = false;
    } else {
      endDateInput.classList.remove("is-invalid");
    }

    if (quantityInput.value.trim() === "" || isNaN(quantityInput.value)) {
      quantityInput.classList.add("is-invalid");
      isValid = false;
    } else {
      quantityInput.classList.remove("is-invalid");
    }

    if (maxDiscountInput.value.trim() === "" || isNaN(maxDiscountInput.value)) {
      maxDiscountInput.classList.add("is-invalid");
      isValid = false;
    } else {
      maxDiscountInput.classList.remove("is-invalid");
    }

    if (isValid) {
      form.submit();
    }
  });
</script>

<%- include('../layouts/footer.ejs') %>
