<%- include('../layouts/header.ejs') %>

<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-2">
        <div class="header__logo">
          <h1>TECCAS</h1>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop.html">Shop</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__right row">
          <div class="col">
            <ul class="header_right_widget">
              <li><span class="icon_search search-switch"></span></li>
              <li>
                <a href="#"
                  ><span class="icon_heart_alt"></span>
                  <div class="tip">2</div>
                </a>
              </li>
              <li>
                <a href="#"
                  ><span class="icon_bag_alt"></span>
                  <div class="tip">2</div>
                </a>
              </li>
            </ul>
          </div>
          <div class="header_right_auth col">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
              >
                Click
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <% if(session!=null){ %>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                <% }else{%>
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/signup">Signup</a></li>
                <%}%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>

<%- include('../layouts/footer.ejs')%>

<!-- //////////////////////////////////// -->
