<%- include('../layouts/header.ejs') %>

<div class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #1e3932">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="cardtext-black">
          <div class="row g-0 d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
              <div
                class="card-body p-md-5 mx-md-4 border border-primary mt-5"
                style="background-color: #d0d0d0; border-radius: 10px"
              >
                <div class="text-center">
                  <h4
                    class="mt-1 mb-5 pb-1"
                    style="
                      font-family: 'EB Garamond', serif;
                      font-family: 'Tilt Warp', cursive;
                    "
                  >
                    TECCAS EKART
                  </h4>
                </div>
                <div>
                  <h5
                    class="mt-1 mb-4 pb-1 ms-5"
                    style="
                      font-family: 'EB Garamond', serif;
                      font-family: 'Tilt Warp', cursive;
                    "
                  >
                    Login
                  </h5>
                </div>

                <form action="/login" method="post" class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="email"
                        name="email"
                        id="form3Eample3c"
                        class="form-control"
                      />
                      <label class="form-label" for="form3Examp3c"
                        >Your Email</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        name="password"
                        id="form3Example3"
                        class="form-control"
                        autocomplete="off"
                      />
                      <label class="form-label" for="form3Exampl3c"
                        >Your Password</label
                      >
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input
                      type="submit"
                      value="Login"
                      class="btn border btn-success"
                      
                    />
                  </div>

                       <% if(typeof message !== 'undefined' ){ %>
                  
                   <p style="font-size: small; color: red;font-family: 'Tilt Warp', cursive;" class="ms-3"> <%= message %></p>
                  

                  <% } %> 
                  <% if(typeof msg !== 'undefined' ){ %>
                  
                   <p style="font-size: small; color: rgb(0, 61, 3);font-family: 'EB Garamond', serif;" class="ms-3"> <%= msg %></p>
                  

                  <% } %> 

                  <div class="mt-5 ms-3">
                    <p>
                      Forget Password? <a href="/resetPassword">Click Me</a>
                    </p>
                  </div>

                  <div class="mt-5 ms-3">
                    <p>
                      Don't have an account?
                      <a href="/signup">Signup Here</a>
                    </p>
                  </div>

             
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const form = document.querySelector('form');
form.addEventListener('submit', (event) => {
  event.preventDefault();

  const email = document.querySelector('input[name=email]').value;
  const password = document.querySelector('input[name=password]').value;

  if (!email || !password) {
    alert('Please fill in all fields');
    return;
  }


  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  if (!emailRegex.test(email)) {
    alert('Please enter a valid email address');
    return;
  }

  
  if (password.length <= 6) {
    alert('Password should be at least 6 characters long');
    return;
  }

  
  form.submit();
});

</script>

<%- include('../layouts/footer.ejs')%>
