<%- include('../layouts/header.ejs') %>
  
<div class="container-fluid  ">
  <div class="row " style=" height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;" >
      <div class="col-md-6 col-lg-5 w-25">
        <h4 class="text-center mb-4">OTP Verification</h4>
        <form action="/verifyOtp" method="post">
          <div class="form-group mb-3">
            <label for="otp" class="form-label">Enter OTP</label>
            <input type="text" id="otp" class="form-control" name="otp" placeholder="Enter OTP" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
          <button type="button" id="resend-otp" class="btn btn-link btn-block" disabled>Resend OTP</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Resend OTP button becomes active after 60 seconds
  setTimeout(function() {
    document.getElementById("resend-otp").disabled = false;
  }, 6000);

  // Resend OTP when button is clicked
  document.getElementById("resend-otp").addEventListener("click", function() {
    // Code to send new OTP goes here
    alert("New OTP sent!");
  });
</script>

<%- include('../layouts/footer.ejs')%>
